body {
    margin-top: 20px ;
    margin-right: 90px;
    margin-left: 90px;
    margin-bottom: 20px;
}

.fuentenormal {
     font-style: normal;
}

.sender {
    text-align: right;
}

.morado {
    color: blueviolet;
}

.azul {
    color: blue;
}